.navigation {
    width: 100%;
    height: 50px;
    background-color: rgba(180, 180, 180, 0.6);
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(2px);
}

.navigation__ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navigation__list {
    position: relative;
    list-style: none;
    width: 15%;
    height: 50px;
    z-index: 1;
}

.navigation__list-a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
}

.icon {
    position: relative;
    display: block;
    font-size: 24px;
    color: black;
    transition: 0.3s;
}

.active .icon {
    color: rgb(20, 218, 2);
}

.navigation {
    display: none;
}


.mobile_header {
    display: none;
    height: 50px;
    width: 100%;
}





@media screen and (max-width: 768px) {
    .wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 35px;
    }

    .clicker {
        height: 60vh;
        margin: 0;
        width: 100%;
    }

    .clicker__multiplier {
        margin-bottom: 40px;
    }

    .clicker-img {
        height: 35vh;
        width: 135px;
    }

    .footer {
        display: none;
    }

    .menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .mobile_header {
        color: white;
        background-color: rgb(14, 106, 32);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 10px;
        height: 50px;
        width: 100%;
    }

    .mobile_header-btn {
        cursor: pointer;
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 25px;
    }

    .mobileMenu {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: calc(100% - 100px);
        width: 100%;
    }

    .menu-btn {
        display: none;
    }

    .menu__div {
        border-left: 0;
    }


}

@media screen and (max-width: 640px) {
    body {
        background: url(../Images/tlo-tel.jpg) no-repeat center top;
    }
}

@media screen and (max-width: 540px) {
    .menu__achievements-list-item {
        font-size: 14px;
        padding-left: 15px;
    }

    .achievements-img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .menu-div-upgrades {
        font-size: 14px;
    }

    .upgrade__img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 390px) {
    .menu-div-upgrades {
        font-size: 12px;
    }

    .upgrade__img {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }

    .menu__upgrades-list-item {
        padding-right: 15px;
    }

}